<h2 class="page-header">Modifier le livre</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Annuler</a>
        <button class="btn btn-primary" type="submit">Mettre à jour</button>
    </div>
</form>