<header>
    <nav class="header-nav">
        <a href="/" class="header-title">Mybrary</a>
        <ul>
            <li><a href="/authors">Auteurs</a></li>
            <li><a href="/authors/new">Ajouter auteurs</a></li>
            <li><a href="/books">Livres</a></li>
            <li><a href="/books/new">Ajouter des livres</a></li>

        </ul>
    </nav>
</header>