<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">Auteurs</a></li>
            <li><a href="/authors/new">Ajouter auteurs</a></li>
        </ul>
    </nav>
</header>